:root {
  --font-primary: 'Noto Sans', sans-serif;
  --font-secondary: 'Noto Serif', serif;
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vw;
  font-family: var(--font-primary);
}
h1,
h2 {
  font-family: var(--font-secondary);
}
.error {
  background-color: maroon;
  color: white;
  padding: 1rem 2rem;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.card {
  border: 1px solid #444;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > h3 {
    background-color: #444;
    color: white;
    padding: 0.5rem 1rem;
  }
  > p {
    color: #444;
  }
}
